.header {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFF3E0;
}

.subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #EF6C00;
  font-weight: 300;
  opacity: 0.7;
}