:host {
  width: 30%;
}

.tasks-counter {
  display: flex;
  align-items: flex-start;;
  flex-direction: column;
}

.counter-item {
  margin-top: 4px;
  font-size: 12px;

  &:first-child {
    margin-top: 0;
  }
}