.task {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  background-color: #FFFDE7;
}

.text {
  margin-left: 4px;
}

.prefix {
  font-size: 14px;
  font-weight: bold;
  color: #EF6C00;
  opacity: 0.7;
}

.title {
  margin-left: 4px;
  font-size: 14px;
  color: #424242;
} 

.estimation {
  margin-left: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #EF6C00;
}