.task {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.prefix {
  margin-left: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #FFD54F;
}

.title {
  margin-left: 4px;
  font-size: 14px;
  color: #424242;
} 