.create {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 50px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.input {
  margin: 0;
  flex-grow: 1;
  padding: 4px;
  font-size: 14px;
  border: 1px solid #EF6C00;
  border-radius: 4px 0 0 4px;
  color: #424242;
}

.button {
  margin: 0;
  font-size: 18px;
  border: none;
  padding: 12px 8px;
  color: #fff;

  &--create {
    border-radius: 0 4px 4px 0;
    background-color: #E65100;
  }

  &--location {
    background-color: #EF6C00;
  }
}