<div class="navigation">
  <div class="nav-item" routerLinkActive="item--active">
    <a class="item" routerLink="/main" >
      <img src="assets/icons/calendar.svg" alt="calendar"/>
    </a>
  </div>
  <div class="nav-item" routerLinkActive="item--active">
    <a class="item" routerLink="/folder" >
      <img src="assets/icons/folder.svg" alt="folder"/>
    </a>
  </div>
  <div class="nav-item" routerLinkActive="item--active">
    <a class="item" routerLink="/map" >
      <img src="assets/icons/map.svg" alt="map"/>
    </a>
  </div>
</div>